<footer class="site-footer">

  <div class="container footer-grid">

    <div>
      <div class="footer-brand">CSDUL</div>

      <p>
        Canadian Social Determinants Urban Laboratory
      </p>
    </div>


    <div>
      <strong>Explore</strong>

      <a href="{{ '/' | relative_url }}#architecture">
        CSDUL Architecture
      </a>

      <a href="{{ '/' | relative_url }}#data">
        Data
      </a>

      <a href="https://github.com/csdul/csdul_introduction"
         target="_blank">
        Documentation
      </a>
    </div>


    <div>
      <strong>Resources</strong>

      <a href="https://github.com/csdul"
         target="_blank">
        GitHub Organization
      </a>

      <a href="https://github.com/csdul/csdul_introduction"
         target="_blank">
        Getting Started
      </a>
    </div>

  </div>


  <div class="container footer-bottom">

    <span>
      © {{ site.time | date: '%Y' }} Canadian Social Determinants Urban Laboratory
    </span>

    <span>
      Open research infrastructure
    </span>

  </div>

</footer>
